body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: lightblue;
  display: flex;
  top: 0%;
  flex-wrap: wrap;
  position: sticky;
  padding: 20px 35px;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  flex-wrap: wrap;
  background: lightblue;
  bottom: 0%;
  position: sticky;
}



header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

header nav ul li  {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.navActive {
  color: red;
}
